.discover-content{
    margin-top: 10rem;
    gap: 2rem;
}

.flex-left{
    flex: 70%;
    .flex{
        justify-content: flex-start;
        margin: 2rem 0;
        .box{
            margin-right: 2rem;
            text-align: center;
            background: #202027;
            height: 7rem;
            width: 7.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 20%;
            }
            h3{
                margin-top: 1rem;
                font-size: 1rem;
            }
        }
    }

}
.flex-right{
    flex: 30%;
}

.discover-footer{
    background-color: #202027;
    position: absolute;
    width: 100%;
    min-height: 10vh;
    bottom: 0;
    .left{
        margin: 1rem 0;
        a{
            margin-right: 2rem;
            font-weight: bold;
        }
    }
    .right{
        div{
            margin-left: 2rem;
            p{
                font-weight: 900;
                cursor: pointer;
            }
            img{
                width: 30px;
                margin: .5rem;
            }
        }
        
    }
}



@media only screen and (max-width: 600px){
    .container{
        width: 95%;
        margin: auto;
        overflow: hidden;
        
    }
   .discover-home{
       height: 150vh;
   }
   .discover-content{
       width: 90%;
   }
   .flex-right{
       top: 50%;
       left: 50%;
       transform: translateX(-50%);
       position: absolute;

       width: 75%;
   }

    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1rem;
    }
    .discover-footer{
        height: 20vh;
        .container{
            flex-direction: column;
            .left{
                a{
                    font-size: 1rem;
                    margin-left: 1rem;
                    margin-right: 0;
                }
            }
            .right{
                p{
                    font-size: 1rem;
                }
                .flex{
                    flex-direction: column;
                }
            }
        }
    }
}