.join-content{
    position: absolute;
    width: inherit;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
}

.form-content{
    background: #202027;
    height: 500px;
    width: 375px;
    padding: 1rem 2rem 2rem;
    border-radius: 10px;
    .flex{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        
    }
}
.input{
    width: 100%;
    input{
        width: 100%;
        background: transparent;
        border: 1px solid #1761a749;
        border-radius: 5px;
        padding: .7rem 0;
        margin: 1rem 0;
    }
    
}
.join-btn{
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

.join{
    z-index: 10;
}
.join-rounds{
    z-index: 9;
    .round-3{
        display: none;
    }
    .round-2{
        top: 8.5rem;
        left: inherit;
        right: 4rem;
        width: 25vw;
        height: 25vw;
    }
    .round-1{
        left: 0rem;
        top: 30rem;
        width: 25vw;
        height: 25vw;
    }
}
.discover-footer{
    z-index: 12;
}
@media only screen and (max-width: 600px){
    .join{
        height: 130vh;
    }
   .join-content{
       flex-direction: column;
       gap: 3rem;
   }
}